[Desktop Entry]
Type=Application
Name=vimix
GenericName=Video mixer
Comment=Video live mixer
Categories=AudioVideo;Video;Graphics;
Icon=vimix.svg
Exec=launch_vimix.sh
MimeType=application/x-vimix;text/xml
Terminal=false
