[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "ext/ImGuiColorTextEdit"]
	path = ext/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/Dirent"]
	path = ext/Dirent
	url = https://github.com/tronkko/dirent.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/link"]
	path = ext/link
	url = https://github.com/Ableton/link.git
[submodule "ext/tfd"]
	path = ext/tfd
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "ext/shmdata"]
	path = ext/shmdata
	url = https://gitlab.com/sat-mtl/tools/shmdata.git
