[Desktop Entry]
Type=Application
Name=vimix
Comment=Graphic live video mixing.
Categories=AudioVideo;Video;Graphics;Utility;
Icon=${SNAP}/meta/gui/vimix.svg
Exec=vimix
TryExec=vimix
Terminal=false
